<h1>全ての投稿一覧</h1>

<h2><%= link_to '新しい投稿', new_post_path %><h2>
<br>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <% if post.text.length >= 20	then
      		hoge = post.text[0,19]+"..."
      	else
      		hoge =post.text
      	end
      %>
      
      <td><%= hoge %></td>

      <td><%= link_to '詳細', post %></td>
      <td><%= link_to '編集', edit_post_path(post) %></td>
      <td><%= link_to '削除', post_path(post),
                method: :delete, data: { confirm: '削除しますか？' } %></td>
    </tr>
  <% end %>
</table>

